# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.crapulous-penguin.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\陳宜禾\OneDrive\桌面\人機期末\crapulous-penguin\.idea\.idea.crapulous-penguin\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
